# Extra autostart processes

exec-once = uwsm app -- hypridle
exec-once = uwsm app -- swaync
exec-once = uwsm app -- fcitx5
exec-once = /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
exec-once = wl-clip-persist --clipboard regular --all-mime-type-regex '^(?!x-kde-passwordManagerHint).+'
exec-once = qs -c noctalia-shell
exec-once = vicinae server

{{ if eq .chezmoi.hostname "desktop" }}
exec-once = [workspace 1 silent] uwsm app -- zen-browser
exec-once = [workspace 1 silent] uwsm app -- steam
exec-once = [workspace 1 silent] uwsm app -- discord
exec-once = [workspace 1 silent] uwsm app -- opendeck
{{ end }}
exec-once = hyprlock
